* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --primary-color: #2e00c6;
  --secondary-color: #2f0027;
  --primary-text-color: #fff;
}
.admin {
  background-color: var(--primary-text-color);
  overflow: scroll;
  height: 100vh;
}
a {
  color: var(--primary-text-color);
}
.logo {
  font-size: 20px;
}
.avatar{
  font-size: 30px;
  margin-left: 20px;
}
.container2 {
  display: flex;
}
.noteItem{
  font-size: 25px !important;
  /* padding: 20; */
  height: 10vh;
  text-align: center;
  align-content: center;
}
.importingNoteToDash{
  height: 55vh !important;
  border-bottom: 5px solid black;
  overflow: scroll;
}
.noteDash{
  text-align: center;
  overflow-x: scroll !important;
  border: 1px solid black !important;
  /* padding: 20px; */
  /* margin-top: 35px !important; */
  height: 80vh;
  width: 100% !important;
  border-radius: 20px;
  margin: 0px auto !important;
}
.contentNoteDash{
background-color: #00000021 !important;  
/* color: #fff !important; */
display: flex;
justify-content: space-between;
text-align: left;
padding: 10px;
/* font: 900; */
font-size: 35px;
/* height: 10vh; */
}
.contentNoteDash .noteTitle {
  text-transform: uppercase;
  font-weight: 700;       
  margin: 10px 0;
  color: #fff;
}
.contentNoteDash .noteContent{
  font-size: medium;
  color: #fff;
}
.btnForViewNote{
  display: block ;
  top: -70px;
  margin-right: 50px !important;
  float: right;
}
main {
  width: 100%;
  padding: 10px;
}
.sidebar {
  background: var(--secondary-color);
  color: var(--primary-text-color);
  height: 100vh;
  width: 10%;
  /* border-radius: 30px; */
  /* margin: 20px 0px 0px 10px; */
  transition: all 0.5s;
}
.sidebar2 {
  background: var(--secondary-color);
  color: var(--primary-text-color);
  height: 95vh;
  width: 20%;
  border-radius: 30px;
  margin: 20px 0px 0px 10px;
  transition: all 0.5s;
}
.displayH {
  display: block;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.bars {
  display: flex;
  font-size: 30px;
  transition: all 0.5s ease-in-out;
}
.bars:hover {
  transform: rotate(180deg);
}
.link {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #fff;
  padding: 10px 15px;
  gap: 10%;
  transition: all 0.5s;
}
.link:hover {
  background: var(--primary-color);
  transition: all 0.5s;
}
.active {
  color: #ffffff;
  background: var(--primary-color);
}
.icon {
  font-size: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.link_text {
  font-size: 15px;
}

.topBar {
  background-color: #000;
  padding: 5px 20px !important;
  /* border-radius: 30px; */
  text-align: center;
  /* margin: 20px auto !important; */
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pendingStudent {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 10px;
  background-color: var(--primary-text-color);
  padding: 10px 20px;
  border: #2e00c6 1px solid;
  font-size: 20px;
}
.addCoursebtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 3%;
  margin-bottom: 2%;
}
.addCoursebtn Button {
  width: 20%;
}
.actionBtnStudent {
  justify-content: space-around;
  display: flex;
}
.btnTD{
  display: flex;
  justify-content: space-evenly
}
.loading{
  display: flex;
  justify-content: center;
}
tr{
  font-size: medium;
}
td{
  font-size: small;
}
@media only screen and (max-width: 2560px) {
  .sidebar {
    width: 2.5% !important;
  }
  .sidebar2 {
    width: 7%;
  }
  .container {
    width: 90vw;
  }

  .topBar {
    width: 90% !important;
  }
}
@media only screen and (max-width: 1440px) {
  .sidebar {
    width: 4.5% !important;
  }
  .sidebar2 {
    width: 14%;
  }
  .container {
    width: 90vw;
  }
  .topBar {
    width: 90% !important;
  }
}
@media only screen and (max-width: 1024px) {
  .sidebar {
    width: 6% !important;
  }
  .sidebar2 {
    width: 15% !important;
  }
  .container {
    width: 90vw;
  }
  .topBar {
    width: 90% !important;
  }
}
@media only screen and (max-width: 768px) {
  .sidebar {
    width: 9% !important;
  }
  .sidebar2 {
    width: 9% !important;
  }
  .displayB {
    display: block !important;
  }
  .displayH {
    display: none !important;
  }
  .container {
    width: 90vw;
  }
  .topBar {
    width: 90% !important;
  }
}
@media only screen and (max-width: 425px) {
  .sidebar {
    width: 17% !important;
  }
  .container {
    width: 90% !important;
  }
  .sidebar2 {
    width: 10%;
  }
  .container {
    width: 90vw;
  }
  .topBar {
    width: 90% !important;
    font-size: 7px;
  }
}
@media only screen and (max-width: 320px) {
  .sidebar {
    width: 18% !important;
  }
  .sidebar2 {
    width: 10%;
  }
  .container {
    width: 90vw;
  }
  .topBar {
    width: 90% !important;
  }
}
