* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scrollbar-width: none;
}
:root {
  --primary-color: #2e00c6;
  --secondary-color: #2f0027;
  --primary-text-color: #fff;
  --col1: #2f0027;
  --col2: gray;
  --col3: #cecece;
}
.notfound {
  color: var(--primary-text-color);
  text-align: center;
  background-color: #000;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-image: url('../public/assets/bgforlms.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.home {
  background-color: #fff;
  border-radius: 30px;
  margin: 6% auto;
}
.App-main-all {
  background-color: #fff;
  width: 80%;
  border-radius: 30px;
  padding: 60px 0;
  margin: 7% auto;
  color: #000;
}

.emaillog {
  border-color: var(--primary-text-color);
}
.mainpagecontent {
  color: black;
  align-items: center;
  margin-top: 19%;
}
.mainpagecontent a {
  text-decoration: none;
}
.mainpagecontent p {
  margin: 20px 0;
}
.mainpagebtn {
  border: 2px solid var(--primary-color);
  color: var(--primary-text-color);
  border-radius: 10px 0px;
  color: #000;
  padding: 5px 10px;
  transition: all ease 0.5s;
}
.mainpagebtn:hover {
  border-radius: 10px 0px;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: #ffffff;
}
.containerNav {
  width: 80%;
}
.navSmart {
  background-color: #000;
  padding: 5px 20px !important;
  margin: 10px auto !important;
  border-radius: 30px;
}
.navmain {
  display: flex !important;
  gap: 30px !important;

}
.navbar-nav a {
  text-decoration: none;
  font-size: small;
  font-weight: bold;
  color: var(--primary-text-color);
  transition: all ease 0.5s;
}
.navitem:hover {
  color: #888888;
  text-decoration: underline;
}
.regnavitem {
  border: 2px solid var(--primary-color);
  color: var(--primary-text-color);
  border-radius: 10px 0px;
  padding: 5px 10px;
  transition: all ease 0.5s;
}
.regnavitem:hover {
  border-radius: 10px 0px;
  background-color: white;
  border: 2px solid white;
  color: #000;
}

.about {
  overflow: hidden !important;
  height: fit-content;
  width: 80%;
  background-color: #fff;
  border-radius: 30px;
  padding: 60px 0;
  margin: 7% auto;
  text-align: center;
  color: #000;
}
.aboutHeadings {
  margin-bottom: 30px;
  font-weight: bold;
}
.aboutMainline {
  font-size: large;
}
.aboutmainbox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
  width: 80%;
  margin: auto;
}

.boxabout {
  flex-basis: 100%;
  padding: 20px;
  transition: all ease-in-out 0.5s;
}
.boxabout:hover {
  margin: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.stylenone {
  text-decoration: none;
  color: inherit;
}

.mainhead1 {
  color: var(--col1);
  font-size: 30px;
  font-weight: 300;
  padding: 5px 10px;
  margin-top: 10px;
}

.mainbutton1 {
  background: none;
  border: 1px solid var(--col1);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem;
  cursor: pointer;
  color: var(--col1);
  transition: all 0.5s ease;
}

.mainbutton1:hover {
  background-color: var(--col1);
  color: white;
}

.ForgetPass {
  background-color: #fff;
  width: 40%;
  padding: 0px 20px;
  border-radius: 30px;
  margin: 0px auto;
  margin-top: 90px;
  height: 78vh;
}

.ForgetPass .one {
  padding-top: 30px;
  width: 90%;
  margin: 0px auto;
  text-align: center;
}
.one .icon {
  font-size: 50px !important;
  /* background-color: var(--col1); */
  color: #fff;
  width: 50px;
  /* height: 50px; */
  padding: 10px;
  margin: 20px;
  border-radius: 50px;
}
.resetInput {
  margin: 50px auto 70px;
}
.headingReset {
  margin: 10px 0px 20px;
}
.notereset {
  font-size: 15px;
}
.resetBtn {
  width: 100%;
  margin-top: 10px;
}
.resetLink {
  display: flex;
  justify-content: space-between;
}
/* media queries */
@media screen and (max-width: 768px) {
  .mainhead1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .App {
    height: 100%;
  }
  .navSmart {
    padding: 5px 20px !important;
    margin: 10px auto !important;
    width: 90% !important;
    border-radius: 30px;
  }
}
@media only screen and (max-width: 800px) {
  .App {
    height: 100%;
    padding-top: 20%;
  }
  .aboutmainbox {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1024px) {
  .navmain {
    display: flex !important;
    gap: 20px !important;
  }
}
@media only screen and (max-width: 1200px) {
  .navmain {
    display: flex !important;
    gap: 30px !important;
  }
}
